.container {
  display: flex;
  gap: 100px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subtitle {
  color: var(--btn)
}

.title {
  font-size: 54px;
}

.desc {
  font-size: 20px;
  font-weight: 300;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.statscol {
  margin-right: 120px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box h1 {
  color: var(--btn);
}

.imgContainer {
  flex: 1;
  position: relative;
}

.img {
  object-fit: contain;
}

.register {
  background-image: linear-gradient(to bottom, #fbbf24, #d97706);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  transition: all 0.5s;

}

.about a {
  transition: all 1.5s;
}

.about a:hover {
  transform: scale(1.2);
}

.register:hover {
  background-image: linear-gradient(to top, #fbbf24, #d97706);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 1;
    text-align: center;
  }

  .textContainer {
    text-align: center;
  }

  .boxes {
    flex-direction: column;
    gap: 50px;
  }

  .title {
    font-size: 25px;
  }
}

@media (max-width: 475px) {
  .container {
    width: 633px !important;
  }
}

.contentAbout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffefe3;
  border-radius: 0.75rem;
  margin-bottom: 6rem;
  padding: 0 2rem;
}

.number {
  margin: 0;
  padding: 1rem 2rem;
  background-color: #fff;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.statscol {
  flex: 1 1 auto;
  text-align: center;
}

.spacing {
  margin-bottom: 0.5rem;
}

.text {
  font-size: 1.25rem;
  /* Adjust font size relative to base */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .contentAbout {
    flex-direction: column;
    align-items: center;
    background-color: #fff;
  }

  .number {
    margin-top: 1rem;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.about {
  display: flex;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 10px;
}


.spacing {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-left: 2rem;
}

.text {
  font-size: 1.875rem;
}

.box {
  margin-bottom: 100px;
}

.custom {
  display: flex;
  column-gap: 100px;
  justify-content: between;
  justify-content: space-between;
  justify-content: stretch;
  margin-left: -1px;
  margin-right: -1px;
  margin-left: -4px;
  margin-right: -4px;

}

@media (min-width: 768px) {
  .custom {
    justify-content: around;
    justify-items: stretch;
  }
}

.item {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border: 1px solid rgb(239, 234, 234);
  padding: 0 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: #ffefe3;
  box-shadow: 0 0 10px black;
}

.item p {
  color: #000;
  font-size: 20px;
}


.btn3d {
  width: 150px;
  height: 50px;
  perspective: 800px;
  position: relative;
}

.btn3d a {
  transform-style: preserve-3d;
  display: block;
  position: absolute;
  inset: 0;
  perspective: 800px;
  transition: 1s;
}

.btn3d a .top {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e3d0d0;
  background: #ffefe3;
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
  font-weight: 700;
}

.btn3d a .front {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  color: #f0dede;
  transform: translateZ(25px);
  font-weight: 700;
}

.btn3d:hover a {
  transform: rotateX(-90deg);
}