.container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.imgContainer {
    flex: 1;
    height: 500px;
    position: relative;
}

.img {
    object-fit: contain;
}

.formContainer {
    flex: 1;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form input,
.form textarea {
    padding: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--bgSoft);
    color: var(--text);
}

.form textarea:focus{
    animation: rotateShadow 2s infinite linear;
}

.form input:focus{
    animation: rotateShadow 2s infinite linear;
}

.form button {
    padding: 20px;
    background-color: var(--btn);
    color: var(--white);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes rotateShadow {
    0% {
        box-shadow: -2px -2px 8px 1px #ffbb00, 2px 2px 8px 1px #8162f0;
    }

    25% {
        box-shadow: -2px 2px 8px 1px #eccb99, 2px -2px 8px 1px #3700ff;
    }

    50% {
        box-shadow: 2px 2px 8px 1px #ffbb00, -2px -2px 8px 1px #8162f0;
    }

    75% {
        box-shadow: 2px -2px 8px 1px #eccb99, -2px 2px 8px 1px #3700ff;
    }

    100% {
        box-shadow: -2px -2px 8px 1px #ffbb00, 2px 2px 8px 1px #8162f0;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}