.contactButton {
    position: fixed;
    width: 80px;
    height: 80px;
    background-color: #74a6db;
    border-radius: 50%;
    display: block;
    right: 35px;
    bottom: 100px;
    z-index: 100;
    text-align: center;
    line-height: 80px;
    text-decoration: none;
    margin: 0 auto;
    color: #fff;
    font-size: 15px;
    border: none;
}

.contactButton::before,
.contactButton::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: #74a6db;
    border-radius: 50%;
    animation: glow 2s infinite linear;
    box-shadow: 0 0 10px #66BBFF;
}

.contactButton:active {
    transform: translateY(10px);
    animation: click 2s;
}

.contactButton::after {
    animation-delay: 0.5s;
}

.contactButton{
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes glow {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes click {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(10px);
        opacity: 0;
    }
}