.brandButtons {
    display: flex;
    gap: 10px;
  }
  
  .brandButton {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #e0e0e0;
    color: black;
    border: none;
    border-radius: 5px;
    transition: box-shadow 0.3s, color 0.3s;
    margin-bottom: 20px;
  }
  
  .brandButton1:hover {
    box-shadow: 0 0 15px 5px rgba(1, 17, 87, 0.75); /* Hiệu ứng phát sáng màu đỏ */
  }
  
  .brandButton2:hover {
    box-shadow: 0 0 15px 5px rgba(3, 97, 204, 0.75); /* Hiệu ứng phát sáng màu xanh lá cây */
  }
  
  .brandButton3:hover {
    box-shadow: 0 0 15px 5px rgba(138, 4, 196, 0.75); /* Hiệu ứng phát sáng màu xanh dương */
  }