.linkContainer {
    position: relative;
}

.container {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.active {
    font-weight: bold;
}

.overlayEffect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    animation: slideDown 0.3s ease-out, fadeOut 0.3s 0.6s ease-out forwards;
}

.overlayContent {
    color: var(--text);
    font-size: 48px;
    opacity: 0;
    animation: fadeInText 0.3s 0.3s forwards;
}

.overlayEnd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 9998;
    opacity: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    animation: slideUp 0.4s 0.6s ease-out forwards, fadeInOverlay 0.3s 0.6s ease-out forwards;
}

.underlineEffect {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 90%;
    height: 2px;
    background: linear-gradient(90deg, #ff7f50, #ff4500, #ff4500, #ff7f50);
    background-size: 200% 100%;
    animation: slideIn 2s infinite;
}

@keyframes slideIn {
    0% {
        transform: translateX(-10%);
        background: linear-gradient(90deg, #FF6B6B, #FF4500, #FF6347, #FF4500, #FF7F50);
    }
    50% {
        transform: translateX(10%);
        background: linear-gradient(90deg, #FF6B6B, #FF6600, #FF9933, #FFCC33, #FFB347);
    }
    100% {
        transform: translateX(-10%);
        background: linear-gradient(90deg, #FF6B6B, #FF4500, #FF6347, #FF4500, #FF7F50);
    }
}

@keyframes slideDown {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        top: 0;
    }
    100% {
        opacity: 1;
        top: 100%;
    }
}

@keyframes fadeInOverlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
